@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: #f1f5f9;
      --foreground: #1e293b;

      --default: #f1f5f9;
      --default-foreground: #1e293b;
  
      --primary: #4338ca;
      --primary-foreground: #f1f5f9;
   
      --secondary: #a21caf;
      --secondary-foreground: #f1f5f9;
   
      --success: #22c55e;
      --success-foreground: #f1f5f9;

      --warning: #eab308;
      --warning-foreground: #f1f5f9;

      --error: #ef4444;
      --error-foreground: #f1f5f9;

      --muted: #94a3b8;
      --muted-foreground: #f1f5f9;
    }
   
    .dark {
      --background: #1e293b;
      --foreground: #f1f5f9;

      --default: #f1f5f9;
      --default-foreground: #1e293b;
  
      --primary: #4338ca;
      --primary-foreground: #f1f5f9;
   
      --secondary: #a21caf;
      --secondary-foreground: #f1f5f9;
   
      --success: #22c55e;
      --success-foreground: #f1f5f9;

      --warning: #eab308;
      --warning-foreground: #f1f5f9;

      --error: #ef4444;
      --error-foreground: #f1f5f9;

      --muted: #94a3b8;
      --muted-foreground: #f1f5f9;
    }
  }

  @layer base {
    body {
      @apply bg-background text-foreground;
    }
  }